@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container {
  overflow: auto;
  border: 2px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background: rgb(53, 73, 90);
  color: white;
}

.loader {
  margin: 0 auto;
  /* border: 20px solid black; */
  border-left: 20px solid indianred;
  border-right: 20px solid indigo;
  border-bottom: 20px solid white;
  border-top: 20px solid white;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-top: 30vh;
  animation: loading 1s linear infinite;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}
input {
  height: 45px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: steelblue;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

img {
  width: 200px;
  margin-bottom: 10px;
  object-fit: contain;
}

.card h3 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.card h4 {
  text-align: center;
}

.robot-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.robot-detail div {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 10px;
}

.robot-detail span {
  font-size: 10px;
  font-weight: 900;
}
.robot-detail h4 {
  font-size: 15px;
}

.robot-detail .inner{
  display: flex;
  align-self: start;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
